safetensors==0.4.5
mmcv-full==1.7.2
torch==2.6.0
decord==0.6.0
ftfy==6.3.1
einops==0.8.1
termcolor==3.0.1
timm==1.0.15
regex==2024.11.6
yacs==0.1.8
scikit-learn==1.6.1
matplotlib==3.10.1
pandas==2.2.3
prettytable==3.16.0
noise==1.2.2
matplotlib-inline==0.1.7